/* Custom default button */

html,body{height:100%;}
body{background: #eee;}

/*-----------------------------
general
-----------------------------*/

.button{display: inline-block; background: #fff; color:#000;padding: 15px 30px; border-radius:3px; text-decoration: none; }

/*-----------------------------
header
-----------------------------*/

.header{background: #333; padding-bottom: 5px;}
.header__logo{color:#fff; float:left;display: block;text-decoration: none; opacity: 0.5;}
.header__menu{float:right;margin:0; padding:0;}
.header__menu__item{display: inline-block;}
.header__menu__item a{color:#fff;display: block;padding:20px;text-decoration: none}
.header__menu__item a:hover{background: #000}
.header__menu__item button:hover{ background: rgb(0, 0, 0);border-color: transparent; justify-self: center;}
.header__menu__item button{ border-color: transparent;}
.header__icon-bar{display: block;float: right;padding:20px;display: none;}
.header__icon-bar span{display: block;height:3px; width: 30px;background: #fff; margin-bottom: 5px;}

/*-----------------------------
Cover
-----------------------------*/
.cover{height:45%;
  background-image: url(../img/italy.jpg);
  background-size: cover;
  border-radius: 25px;
  background-position: center center;
  position:relative;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius:45px ;
  overflow: hidden;
  box-shadow: rgb(66, 66, 66) 0px 5px 15px;
  
}
.cover__filter{ background: rgb(0, 0, 0); width:100%; height:100%; position: absolute; z-index: 0; opacity: 0.6; }
.cover__caption{ display: table; height: 100%; width:100%; position: relative; z-index:1; padding: 0 20px}
.cover__caption__copy { display: table-cell; vertical-align: middle; text-align: center; color:#fff; }
.app{color: #f8d059d7; font-family: 'Droid serif', serif; font-size: 65px; font-style: italic;line-height: 44px; text-align: center;text-shadow: 2px 1px;}

/********
LOGO
*********/

@media (min-width: 30em) {
.header__logo  {display: inline-block; height: inherit;left: 1px;line-height: inherit;margin: 0;padding: 0;position: absolute;top: 0;}
}

/*-----------------------------
Smartphone
-----------------------------*/
@media (max-width: 767px){

    .header{position:fixed; z-index: 100;width:100%}
    .header__icon-bar{display: block; }
    .header__logo{
      float: left;
    }
    
    .header__menu{width:100%;height:0px; overflow: hidden; }
    .header__menu__item{display: block;}
    .is-open{height:200px; overflow: auto; z-index: 100;}
    .is-open-modal{height:250px;}
    /* Cover */
    .cover{height:50%;}
    
    
    }
    
    
    /* clearfix */
    
    .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
    * html .clearfix             { zoom: 1; } /* IE6 */
    *:first-child+html .clearfix { zoom: 1; } /* IE7 */
    
    *,
    *:before,
    *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    }
    
/***************************
IMMAGINI DOPO IL BUONGIORNO
****************************/

.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
  margin: 0;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid figure figcaption>a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}



figure.effect-ravi {
  background: #303fa9;
  margin: 0;
}

.grid [class^="col"] {
  padding: 2px;
}

figure.effect-ravi h2 {
  font-size: 158.75%;
}

figure.effect-ravi h2,
figure.effect-ravi p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
}

figure.effect-ravi figcaption::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  border: 2px solid #fff;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
  transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
}

figure.effect-ravi p {
  width: 100px;
  text-transform: none;
  font-size: 121%;
  line-height: 2;
}

figure.effect-ravi p a {
  color: #fff;
}

figure.effect-ravi p a:hover,
figure.effect-ravi p a:focus {
  opacity: 0.6;
}

figure.effect-ravi p a i {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-ravi p a:first-child i {
  -webkit-transform: translate3d(-60px, -60px, 0);
  transform: translate3d(-60px, -60px, 0);
}

figure.effect-ravi p a:nth-child(2) i {
  -webkit-transform: translate3d(60px, -60px, 0);
  transform: translate3d(60px, -60px, 0);
}

figure.effect-ravi p a:nth-child(3) i {
  -webkit-transform: translate3d(-60px, 60px, 0);
  transform: translate3d(-60px, 60px, 0);
}

figure.effect-ravi p a:nth-child(4) i {
  -webkit-transform: translate3d(60px, 60px, 0);
  transform: translate3d(60px, 60px, 0);
}

figure.effect-ravi:hover figcaption::before {
  opacity: 1;
  -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
  transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
}

figure.effect-ravi:hover h2 {
  opacity: 0;
  -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
  transform: translate3d(-50%, -50%, 0) scale3d(0.8, 0.8, 1);
}

figure.effect-ravi:hover p i:empty {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /* just because it's stronger than nth-child */
  opacity: 1;
}
/*********************************
FINE IMMAGINI DOPO IL BUONGIORNO
**********************************/