body {
    background-image:url(../img/red_apples.jpg);
    font-family:'PT Sans',Helvetica, Arial, sans-serif;
    color:#fff;
       background-repeat: no-repeat;
       background-size:cover;
    }
    
    .header{background: #333; padding-bottom: 5px;}
    .header__logo{color:#fff; float:left;display: block;text-decoration: none; opacity: 0.5;}
    .header__menu{float:right;margin:0; padding:0;}
    .header__menu__item{display: inline-flex;}
    .header__menu__item a{color:#fff;display: block;padding:20px;text-decoration: none}
    .header__menu__item a:hover{background: #000}
    .header__menu__item button:hover{background: #000}
    .header__icon-bar{display: block;float: right;padding:20px;display: none;}
    .header__icon-bar span{display: block;height:3px; width: 30px;background: #fff; margin-bottom: 5px;}
/********
LOGO
*********/

@media (min-width: 30em) {
    .header__logo  {
      display: inline-block;
              height: inherit;
              left: 1px;
              line-height: inherit;
              margin: 0;
              padding: 0;
              position: absolute;
        top: 0;
        
    }
   
  }





.page-container{
    display: flex;
    justify-content: center;
}
  /*-----------------------------
Smartphone
-----------------------------*/
@media (max-width: 767px){

	.header{position:fixed; z-index: 100;width:100%}
  .header__icon-bar{display: block; }
  .header__logo{
    float: left;
  }

	.header__menu{width:100%;height:0px; overflow: hidden; }
	.header__menu__item{display: block;}
    .is-open{height:200px; overflow: auto; }
}


    .page-container {
   margin-top: 3px;
    display:flex;
    
    }
h1{
    font-size: 80px;
    font-weight: 700;
    text-shadow: 1 1px 4px rgba(0,0,0,.2);
    text-align: center;
    font-family: calibri;
    color: beige;
    text-shadow: 20px -12px 20px black;
}
    
    form {
    position:relative;
    width:400px;
    justify-content: center;
    text-align:center;
    
    }
    
    input {
    width:270px;
    height:42px;
    margin-top:25px;
    padding:0 15px;
    background:#2d2d2d;
    background:rgba(45,45,45,.15);
    -moz-border-radius: 6px;
    -webkit-border-radius:6px;
    text-align:center;
    border-radius:6px;
    border:1px solid #3d3d3d;
    border:1px solid rgba(255,255,255,.15);
    -moz-box-shadow:0 2px 3px 0 rgba(0,0,0,.1) inset;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size:16px;
    color:#fff;
    text-shadow:0 1px 2px rgba(0,0,0,.1);
    }
    
    input:-moz-placeholder { color:#fff; }
    input:-ms-input-placeholder { color:#fff; }
    input::-webkit-input-placeholder { color:#fff; }
    
    input:focus {
    outline:none;
    -moz-box-shadow:
            0 2px 3px 0 rgba(0,0,0,.1) inset,
            0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow:
            0 2px 3px 0 rgba(0,0,0,.1) inset,
            0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow:
            0 2px 3px 0 rgba(0,0,0,.1) inset,
            0 2px 7px 0 rgba(0,0,0,.2);
    }
    
    button {
    cursor:pointer;
    width:300px;
    height:44px;
    margin-top:25px;
    padding:0;
    background:#a30f0f;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border:1px solid #8b140b;
    -moz-box-shadow:
            0 15px 30px 0 rgba(255,255,255,.25) inset,
            0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow:
            0 15px 30px 0 rgba(255,255,255,.25) inset,
            0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow:
            0 15px 30px 0 rgba(255,255,255,.25) inset,
            0 2px 7px 0 rgba(0,0,0,.2);
    font-family:'PT Sans', Helvetica, Arial, sans-serif;
    font-size:14px;
    font-weight:700;
    color:#fff;
    text-shadow:0 1px 2px rgba(0,0,0,.1);
    }
    
    button:hover {
        -moz-box-shadow:
            0 15px 30px 0 rgba(255,255,255,.15) inset,
            0 2px 7px 0 rgba(0,0,0,.2);
        -webkit-box-shadow:
            0 15px 30px 0 rgba(255,255,255,.15) inset,
            0 2px 7px 0 rgba(0,0,0,.2);
        box-shadow:
            0 15px 30px 0 rgba(255,255,255,.15) inset,
            0 2px 7px 0 rgba(0,0,0,.2);
    }
    
    button:active {
        -moz-box-shadow:
            0 15px 30px 0 rgba(255,255,255,.15) inset,
            0 2px 7px 0 rgba(0,0,0,.2);
        -webkit-box-shadow:
            0 15px 30px 0 rgba(255,255,255,.15) inset,
            0 2px 7px 0 rgba(0,0,0,.2);
        box-shadow:        
            0 5px 8px 0 rgba(0,0,0,.1) inset,
            0 1px 4px 0 rgba(0,0,0,.1);
    
        border: 0px solid #ef1c00;
    }
    .page-container{width:93%}
    @media (max-width:990px){
        .page-container{
            height: 700px;
            margin-top: 3px;
            background-position: center;
        }
    }
   

   /**************
   Footer
   *************/
   .mastfoot {
    padding-top: 20px;
    color: rgba(143, 131, 131, 0.5);
    text-align: center;

  }
  
/* clearfix */

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

