<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Colacchi A. , Dimitrova D.T.">
    

    <title>Involtini di melanzane e pesce spada</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
    <!--IL MIO CODICE PER ICONE BELLE-->
    <script src="https://kit.fontawesome.com/1aa4ba836e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
   

    <!-- File Css Nostro che dobbiamo modificare -->
    <link href="/css/ricetta.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  </head>


 <body class="text-center">
   <header class="header clearfix" >
     <a href="iniziale.html" class="header__logo"> <img src="/logo.png" alt="Logo" style="width: 70px;"></a>
     <a href="" class="header__icon-bar">
       <span></span>
       <span></span>
       <span></span>
     </a>
     <ul class="header__menu ">
       <li class="header__menu__item">
         <form class="navbar-form" role="search" action="/seconda.parte/ajax.php" method="POST">
         <div class="input-group">
             <input type="text" id="tags" name="tags" class="form-control" placeholder="Cerca una ricetta" name="q">
             <div class="input-group-btn">
                 <button class="btn btn-default" type="submit"><i class="fas fa-search fa-lg"></i></button>
             </div>
         </div>
         </form>
     </li>
       <li class="header__menu__item"><a href="contatti2.html">Contatti</a></li>
       <li class="header__menu__item"> <button onclick="myFunction()" id="login" type="button" class="btn  btn-outline-dark" style="color: aliceblue; width:100px; margin-top:0px;">Logout</button></li>
       
       
     </ul>
   </header>

    <nav class="p-3" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/seconda.parte/iniziale.html" >Pagina iniziale</a></li>
          <li class="breadcrumb-item"><a href="/seconda.parte/antipasti.html">Antipasto</a></li>
          <li class="breadcrumb-item active" aria-current="page">Involtini di melanzane e pesce spada</li>
        </ol>
      </nav>
    <h1>Involtini di melanzane e pesce spada</h1>
   
       

<div class="recepie_details_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-md-6">
                <div class="recepies_thumb">
                    <img  src="/img/involtinimelanzanepescespada.jpg" alt="" style="position: relative;
                    -webkit-box-shadow: 0 24px 10px -20px rgba(0, 0, 0, 0.5);
                    box-shadow: 0 24px 10px -20px rgba(0, 0, 0, 0.5);">
                </div>
            </div>
            <div class="col-xl-6 col-md-6 ">
                <div id="Vue"> 
                    <div class="Recipe-IngredientList " style="position: relative;
                    -webkit-box-shadow: 0 24px 10px -20px rgba(0, 0, 0, 0.5);
                    box-shadow: 0 24px 10px -20px rgba(0, 0, 0, 0.5);">
                        <h2 class="subtitle fancy">Ingredienti</h2>
                        <div id="app">
                            <star-rating value="3"></star-rating>
                            </div>
                  <label for="serving">Porzioni :</label>
                  <input type="number" v-model="serving">
                  <button @click="decreaseServing">-</button>
                  <button @click="increaseServing">+</button>
                    <serving-ingredient name="Melanzane" :serving="serving" base-value="2" metric=""></serving-ingredient>
                    <serving-ingredient name="Aceto di vino bianco" :serving="serving" base-value="qb" metric=""></serving-ingredient>
                    <serving-ingredient name="Sale" :serving="serving" base-value="qb" metric=""></serving-ingredient>
                    <serving-ingredient name="Olio extra vergine di oliva" :serving="serving" base-value="qb" metric=""></serving-ingredient>
                    <serving-ingredient name="Spicchio di aglio" :serving="serving" base-value="1" metric=""></serving-ingredient>
                    <serving-ingredient name="Pecorino siciliano grattugiato" :serving="serving" base-value="20" metric="g"></serving-ingredient>
                    <serving-ingredient name="Pane grattugiato" :serving="serving" base-value="20" metric="g"></serving-ingredient>
                    <serving-ingredient name="Origano" :serving="serving" base-value="qb" metric=""></serving-ingredient>
                    <serving-ingredient name="Pesce spada affettato molto finemente" :serving="serving" base-value="250" metric="g"></serving-ingredient>
                    <serving-ingredient name="Pinoli" :serving="serving" base-value="40" metric="g"></serving-ingredient>
                    <serving-ingredient name="Pepe nero macinato al momento" :serving="serving" base-value="qb" metric=""></serving-ingredient>
                  </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <h2 class="subtitle fancy" style="padding-top: 30px;">Video Ricetta</h2>
    <video controls loop>
        <source src="/video/ANTIPASTO/INVOLTINI di MELANZANE e PESCE SPADA.mp4" type="video/mp4">
      </video>
    
      <h2 class="subtitle fancy">Preparazione</h2>
    <div class="container ">
        <div class="filter"></div>
     <div class="procedura">
         
              <section class='steps' data-step='step1' >
                <h3>Step 1</h3>
                <p>Lavare le melanzane, eliminare l'estremit&agrave; con il picciolo e tagliarle a fette nel senso della lunghezza di un centimetro scarso di spessore. </p></section>
              
              <section class='steps' data-step='step2' >
                <h3>Step 2</h3>
               <p>Man mano che si tagliano metterle in una ciotola con acqua e aceto. La proporzione giusta &egrave; un cucchiaio di aceto per ogni litro d'acqua.</p></section>
              
              <section class='steps' data-step='step3'>
                <h3>Step 3</h3>
                <p>Quando sono tutte pronte, metterle su uno strofinaccio pulito, asciugarle e salarle in superficie. Metterle in un colapasta tutte in verticale e lasciarle scolare per una decina di minuti. Tamponarle con carta da cucina dopo il riposo per eliminare il siero in eccesso.</p>
              
          </section>
          <section class='steps' data-step='step4'>
            <h3>Step 4</h3>
            <p>Scaldare una piastra, ungerla con un filo d'olio e grigliare le melanzane due minuti per lato. Devono diventare morbide, ma non spaccarsi. Ritirarle e disporle tutte stese su un tagliere.</p>
      </section>
      <section class='steps' data-step='step5'>
        <h3>Step 5</h3>
        <p>Spellare l'aglio e tritarlo finemente, oppure spremerlo con l'apposito attrezzo.</p>
  </section>
  <section class='steps' data-step='step6'>
    <h3>Step 6</h3>
    <p>Mescolare in una ciotola il pecorino grattugiato con il pangrattato, l'aglio tritato e un pizzico di origano.</p>
</section>
<section class='steps' data-step='step7'>
  <h3>Step 7</h3>
  <p>Distribuire sulle fette di melanzana le fettine di pesce spada, i pinoli e il trito aromatico. Spolverizzare con una macinata di pepe e condire con un filo d'olio.</p>
</section>
<section class='steps' data-step='step8'>
  <h3>Step 8</h3>
  <p>Arrotolare ogni melanzana a involtino, compattare bene con le mani e utilizzare uno stuzzicadenti per tenere in forma.</p>
</section>
<section class='steps' data-step='step9'>
  <h3>Step 9</h3>
  <p>Ungere una teglia da forno, disporvi gli involtini, unire un filo d'olio e cuocere per 10 minuti a 220 gradi C.</p>
</section>
<section class='steps' data-step='step10'>
  <h3>Step 10</h3>
  <p>Servire gli involtini caldi o tiepidi. Sono ottimi anche freddi, soprattutto dopo un giorno di riposo.</p>
</section>
       
    </div>
</div>
    




    
 
        <!----------------------------------------------->
        <!--DA MODIFICARE FOOTER -->
        <!----------------------------------------------->
      
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </footer>
    
   

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    
  
  
    
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.17/vue.min.js'></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/ricette.js"></script>

    <script>
        var hours = new Date().getHours();
      
        new Vue({
          el: '#app',
          data: {
            isMorning: hours < 12,
            isAfternoon: hours >= 12 && hours < 18,
            isEvening: hours >= 18
          }
        });
      </script>
  
    
    <script>
      $(document).ready(function(){
   
         $(".header__icon-bar").click(function(e){
   
          $(".header__menu").toggleClass('is-open');
           e.preventDefault();
           $('.modal').appendTo("body") ;
   
         });
         

      });
   </script>
    <script>
      function myFunction() {
        
  var txt;
  if (confirm("Sei sicuro di voler uscire?")) {
    window.location.replace("../homepage.html");
  } 
}

</script>
<script>
Vue.component('serving-ingredient', {
    template: '<div class="Recipe-Ingredient">{{ name }} : <span>{{ serving * baseValue }}</span>{{ metric }}</div>',
    props: ['name', 'serving', 'baseValue', 'metric']
  })
  new Vue({
    el: '#Vue',
    data() {
      return {
        serving: 1
      }
    },
    methods: {
      decreaseServing() {
        this.serving = this.serving - 1
      },
      increaseServing() {
        this.serving = this.serving + 1
      }
    }
  })
</script>

<script>
    window.console = window.console || function(t) {};
  </script>
  <script>
    if (document.location.search.match(/type=embed/gi)) {
      window.parent.postMessage("resize", "*");
    }
  </script>
  <script id="rendered-js">
    Vue.component('star-rating', {
    
      props: {
        'name': String,
        'value': null,
        'id': String,
        'disabled': Boolean,
        'required': Boolean },
    
    
      template: '<div class="star-rating">\
            <label class="star-rating__star" v-for="rating in ratings" \
            :class="{\'is-selected\': ((value >= rating) && value != null), \'is-disabled\': disabled}" \
            v-on:click="set(rating)" v-on:mouseover="star_over(rating)" v-on:mouseout="star_out">\
            <input class="star-rating star-rating__checkbox" type="radio" :value="rating" :name="name" \
            v-model="value" :disabled="disabled">★</label></div>',
    
      /*
                                                                    * Initial state of the component's data.
                                                                    */
      data: function () {
        return {
          temp_value: null,
          ratings: [1, 2, 3, 4, 5] };
    
      },
    
      methods: {
        /*
                  * Behaviour of the stars on mouseover.
                  */
        star_over: function (index) {
          var self = this;
    
          if (!this.disabled) {
            this.temp_value = this.value;
            return this.value = index;
          }
    
        },
    
        /*
            * Behaviour of the stars on mouseout.
            */
        star_out: function () {
          var self = this;
    
          if (!this.disabled) {
            return this.value = this.temp_value;
          }
        },
    
        /*
            * Set the rating.
            */
        set: function (value) {
          var self = this;
    
          if (!this.disabled) {
            this.temp_value = value;
            return this.value = value;
          }
        } } });
    
    
    
    new Vue({
      el: '#app' });
    //# sourceURL=pen.js
        </script>

  </body>
</html>