<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Colacchi A. , Dimitrova D.T.">
    

    <title>Passione Cucina</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
    <!--IL MIO CODICE PER ICONE BELLE-->
    <script src="https://kit.fontawesome.com/1aa4ba836e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- File Css Nostro che dobbiamo modificare -->
    <link href="/css/iniziale.css" rel="stylesheet">




  <body class="text-center">
    <header class="header clearfix" >
      <a href="iniziale.html" class="header__logo"> <img src="/logo.png" alt="Logo" style="width: 70px;"></a>
      <a href="" class="header__icon-bar">
        <span></span>
        <span></span>
      </a>
      <ul class="header__menu ">
        <li class="header__menu__item">
          <form class="navbar-form" role="search">
          <div class="input-group">
              <input type="text" class="form-control" placeholder="Cerca una ricetta" name="q">
              <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="fas fa-search fa-lg"></i></button>
              </div>
          </div>
          </form>
      </li>
        <li class="header__menu__item"><a href="contatti2.html">Contatti</a></li>
        <li class="header__menu__item"> <button onclick="myFunction()" id="login" type="button" class="btn  btn-outline-dark" style="color: aliceblue; width:100px; margin-top:0px;">Logout</button></li>
        
        
      </ul>
    </header>
    

    <section class="cover" >
        <div class="cover__filter">
        </div>
        <div class="cover__caption">
          <div class="cover__caption__copy">
            <div id="app" class="app">
                <p  v-if="isMorning">Buona Mattina! </p>
                <p v-if="isAfternoon">Buongiorno! </p>
                <p v-if="isEvening">Buonasera!</p>
              </div>
          </div>
        </div>
      </section>



      <!------------------------------------------------
        PROVAAAA
        ------------------------------------------------>


        <div class="container">
          <p><h4 style="font-family: Helvetica, sans-serif; font-size: 23px;color: rgb(223, 41, 35);font-weight: 700; text-shadow: 0.2px 0.2px;">Di che cosa hai voglia? </h4></p>
          <div class="grid">
              <div class="row">
                  <div class="col-md-3">
                      <figure class="effect-ravi">
                          <img src="/img/primo.jpg" alt="primo" />
                          <figcaption>
                              <h2> <span>Primo</span></h2>
                              <p>
                                  <a href="primi.html"><i class="fa fa-search"></i></a>
                              </p>
                          </figcaption>
                      </figure>
                  </div>
                  <div class="col-md-3">
                      <figure class="effect-ravi">
                          <img src="/img/secondo.jpg" alt="secondo" />
                          <figcaption>
                              <h2><span>Secondo</span></h2>
                              <p>
                                  <a href="secondi.html"><i class="fa fa-search"></i></a>

                              </p>
                          </figcaption>
                      </figure>
                  </div>
                  <div class="col-md-3">
                      <figure class="effect-ravi">
                          <img src="/img/antipasto.jpg" alt="antipasto" />
                          <figcaption>
                              <h2> <span>Antipasto</span></h2>
                              <p>
                                  <a href="antipasti.html"><i class="fa fa-search"></i></a>

                              </p>
                          </figcaption>
                      </figure>
                  </div>
                  <div class="col-md-3">
                    <figure class="effect-ravi">
                        <img src="/img/dolci.jpg" alt="dolci" />
                        <figcaption>
                            <h2> <span>Dolce</span></h2>
                            <p>
                                <a href="#"><i class="fa fa-search"></i></a>
                            </p>
                        </figcaption>
                    </figure>
                </div>
              </div>

          </div>

      </div>





      
        
        <!----------------------------------------------->
        <!--DA MODIFICARE FOOTER -->
        <!----------------------------------------------->
      
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </footer>
    
   

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    
  
  
    
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script>
        var hours = new Date().getHours();
      
        new Vue({
          el: '#app',
          data: {
            isMorning: hours < 12,
            isAfternoon: hours >= 12 && hours < 18,
            isEvening: hours >= 18
          }
        });
      </script>
  
    
    <script>
      $(document).ready(function(){
   
         $(".header__icon-bar").click(function(e){
   
          $(".header__menu").toggleClass('is-open');
           e.preventDefault();
           $('.modal').appendTo("body") ;
   
         });
         

      });
   </script>
    <script>
      function myFunction() {
        
  var txt;
  if (confirm("Sei sicuro di voler uscire?")) {
    window.location.replace("../homepage.html");
  } 
}

</script>
                
 
  </body>
</html>