<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Colacchi A. , Dimitrova D.T.">
    

    <title>DOLCETTI CON RISO SOFFIATO</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
    <!--IL MIO CODICE PER ICONE BELLE-->
    <script src="https://kit.fontawesome.com/1aa4ba836e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
   

    <!-- File Css Nostro che dobbiamo modificare -->
    <link href="/css/ricetta.css" rel="stylesheet">
   


  <body class="text-center">
    <header class="header clearfix" >
      <a href="/seconda.parte/iniziale.html" class="header__logo"> <img src="/logo.png" alt="Logo" style="width: 70px;"></a>
      <a href="" class="header__icon-bar">
        <span></span>
        <span></span>
        <span></span>
      </a>
      <ul class="header__menu ">
        <li class="header__menu__item">
          <form class="navbar-form" role="search">
          <div class="input-group">
              <input type="text" class="form-control" placeholder="Cerca una ricetta" name="q">
              <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="fas fa-search fa-lg"></i></button>
              </div>
          </div>
          </form>
      </li>
        <li class="header__menu__item"><a href="/seconda.parte/contatti2.html">Contatti</a></li>
        <li class="header__menu__item"> <button onclick="myFunction()" id="login" type="button" class="btn  btn-outline-dark" style="color: aliceblue; width:100px; margin-top:0px;">Logout</button></li>
        
        
      </ul>
    </header>

    <h1>Dolcetti con riso soffiato</h1>







<div class="recepie_details_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-md-6">
                <div class="recepies_thumb">
                    <img  src="/img/dolcetti-con-riso-soffiato.jpg" alt="" style="position: relative;
                    -webkit-box-shadow: 0 24px 10px -20px rgba(0, 0, 0, 0.5);
                    box-shadow: 0 24px 10px -20px rgba(0, 0, 0, 0.5);">
                </div>
            </div>
            <div class="col-xl-6 col-md-6 ">
                <div id="Vue"> 
                    <div class="Recipe-IngredientList " style="position: relative;
                    -webkit-box-shadow: 0 24px 10px -20px rgba(0, 0, 0, 0.5);
                    box-shadow: 0 24px 10px -20px rgba(0, 0, 0, 0.5);">
                        <h2 class="subtitle fancy">Ingredienti</h2>
                        <div id="app">
                            <star-rating value="3"></star-rating>
                            </div>
                  <label for="serving">Porzioni :</label>
                  <input type="number" v-model="serving">
                  <button @click="decreaseServing">-</button>
                  <button @click="increaseServing">+</button>
                    <serving-ingredient name="Riso soffiato bianco" :serving="serving" base-value="60" metric="g"></serving-ingredient>
                    <serving-ingredient name="Cioccolato fondente (o al latte,bianco)" :serving="serving" base-value="300" metric="g"></serving-ingredient>
                    <serving-ingredient name="Granella di pistacchi (mandorle, nocciole,cocco) " :serving="serving" base-value="" metric=""></serving-ingredient>
                  </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <h2 class="subtitle fancy" style="padding-top: 30px;">Video Ricetta</h2>
    <video controls loop>
        <source src="/video/DOLCI/DOLCETTI CON RISO SOFFIATO e CIOCCOLATO.mp4" type="video/mp4">
      </video>
    
      <h2 class="subtitle fancy">Preparazione</h2>
    <div class="container ">
        <div class="filter"></div>
     <div class="procedura">
         
              <section class='steps' data-step='step1' >
                <h3>Step 1</h3>
                <p> Per questa ricetta potete usare il cioccolato che più preferite: fondente, al latte o bianco.</p></section>
              
              <section class='steps' data-step='step2' >
                <h3>Step 2</h3>
               <p>Spezzettate il cioccolato fondente e scioglietelo a bagnomaria. In alternativa, potete scioglierlo al microonde alla potenza di 200-300 Watt, controllando di tanto in tanto.</p></section>
              
              <section class='steps' data-step='step3'>
                <h3>Step 3</h3>
                <p>Mettete il riso soffiato in una ciotola capiente e versate il cioccolato fuso a filo.</p>
              
          </section>
          <section class='steps' data-step='step4'>
            <h3>Step 4</h3>
            <p>Mescolate rapidamente con una spatola in silicone, in modo che tutto il riso sia ricoperto di cioccolato.</p>
      </section>
      <section class='steps' data-step='step5'>
        <h3>Step 5</h3>
        <p>Sistemate i pirottini di carta sul vassoio di portata.Se non avete i pirottini potete ritagliare dei quadratini di carta forno. </p>
  </section>
  <section class='steps' data-step='step6'>
    <h3>Step 6</h3>
    <p>Una volta che saranno solidificati potreste anche eliminarla e metterli direttamente sul vassoio</p>
</section>
<section class='steps' data-step='step7'>
  <h3>Step 7</h3>
  <p>Riempite i pirottini con il riso soffiato, aiutandovi con un cucchiaio.</p>
</section>
<section class='steps' data-step='step8'>
  <h3>Step 8</h3>
  <p>Spolverizzate con granella o polvere di pistacchio o quello che più preferite: nocciole, mandorle, cocco, confettini.</p>
</section>
<section class='steps' data-step='step9'>
  <h3>Step 9</h3>
  <p>Riponete il vassoio in frigorifero per almeno 30 minuti prima di servire i dolcetti con riso soffiato e cioccolato.</p>
</section>
<section class='steps' data-step='step10'>
  <h3>CONSIGLIO &AMP; CONSERVAZIONE</h3>
  <p> I dolcetti con riso soffiato e cioccolato si conservano in frigorifero fino a 3 settimane, avendo cura di conservarle in contenitori ermetici una volta solidificato il cioccolato o ben avvolti in pellicola.</p>
</section>
       
    </div>
</div>
    




    
 
        <!----------------------------------------------->
        <!--DA MODIFICARE FOOTER -->
        <!----------------------------------------------->
      
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </footer>
    
   

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    
  
  
    
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.17/vue.min.js'></script>

    <script>
        var hours = new Date().getHours();
      
        new Vue({
          el: '#app',
          data: {
            isMorning: hours < 12,
            isAfternoon: hours >= 12 && hours < 18,
            isEvening: hours >= 18
          }
        });
      </script>
  
    
    <script>
      $(document).ready(function(){
   
         $(".header__icon-bar").click(function(e){
   
          $(".header__menu").toggleClass('is-open');
           e.preventDefault();
           $('.modal').appendTo("body") ;
   
         });
         

      });
   </script>
    <script>
      function myFunction() {
        
  var txt;
  if (confirm("Sei sicuro di voler uscire?")) {
    window.location.replace("../homepage.html");
  } 
}

</script>
<script>
Vue.component('serving-ingredient', {
    template: '<div class="Recipe-Ingredient">{{ name }} : <span>{{ serving * baseValue }}</span>{{ metric }}</div>',
    props: ['name', 'serving', 'baseValue', 'metric']
  })
  new Vue({
    el: '#Vue',
    data() {
      return {
        serving: 1
      }
    },
    methods: {
      decreaseServing() {
        this.serving = this.serving - 1
      },
      increaseServing() {
        this.serving = this.serving + 1
      }
    }
  })
</script>

<script>
    window.console = window.console || function(t) {};
  </script>
  <script>
    if (document.location.search.match(/type=embed/gi)) {
      window.parent.postMessage("resize", "*");
    }
  </script>
  <script id="rendered-js">
    Vue.component('star-rating', {
    
      props: {
        'name': String,
        'value': null,
        'id': String,
        'disabled': Boolean,
        'required': Boolean },
    
    
      template: '<div class="star-rating">\
            <label class="star-rating__star" v-for="rating in ratings" \
            :class="{\'is-selected\': ((value >= rating) && value != null), \'is-disabled\': disabled}" \
            v-on:click="set(rating)" v-on:mouseover="star_over(rating)" v-on:mouseout="star_out">\
            <input class="star-rating star-rating__checkbox" type="radio" :value="rating" :name="name" \
            v-model="value" :disabled="disabled">★</label></div>',
    
      /*
                                                                    * Initial state of the component's data.
                                                                    */
      data: function () {
        return {
          temp_value: null,
          ratings: [1, 2, 3, 4, 5] };
    
      },
    
      methods: {
        /*
                  * Behaviour of the stars on mouseover.
                  */
        star_over: function (index) {
          var self = this;
    
          if (!this.disabled) {
            this.temp_value = this.value;
            return this.value = index;
          }
    
        },
    
        /*
            * Behaviour of the stars on mouseout.
            */
        star_out: function () {
          var self = this;
    
          if (!this.disabled) {
            return this.value = this.temp_value;
          }
        },
    
        /*
            * Set the rating.
            */
        set: function (value) {
          var self = this;
    
          if (!this.disabled) {
            this.temp_value = value;
            return this.value = value;
          }
        } } });
    
    
    
    new Vue({
      el: '#app' });
    //# sourceURL=pen.js
        </script>

  </body>
</html>